@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #9fc5e8;
    font-family: 'Vollkorn', serif;
}

.main-logo{
    width: 220px;
    height: 100%;
    padding: 10px;
}


.main-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.search-container input{
    padding: 10px;
    border-radius: 15px;
    width: 500px;
    outline: 2px solid rgb(87, 87, 87);
}

.input-group{
    display: flex;
    align-items: center;
}

  .input-group input{
    position: relative;
    width: 323px;
    height: 4vh;
    border-radius: 26px;
    border: none;
    margin-right: 30px;
}
.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
.input-group input::placeholder{
    color: black;
}
.input-group input:focus{
    outline: none;
}
#search{
    position: absolute;
    margin-left:450px;
    margin-top: 9px;
}