@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #9fc5e8;
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.search-container input{
    padding: 5px;
    border-radius: 4px;
    width: 300px;
    text-align: center;
    border: 2px solid rgb(125, 125, 125);
}

