@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #FFFFFF;
    font-family: 'Vollkorn', serif;
}


.navbar{
    background-color: #9fc5e8;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #8cb9e3;
  }

.main-logo{
    width: 220px;
    height: 100%;
    padding: 10px;
}


.main-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.search-container input{
    padding: 10px;
    border-radius: 15px;
    width: 500px;
    color: black;
    background-color: #9fc5e8;
    outline: 2px solid #0b0b0b;

}

input::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }

  /*
.input-group{
    display: flex;
    align-items: center;
}

  .input-group input{
    position: relative;
    width: 323px;
    height: 4vh;
    border-radius: 26px;
    border: none;
    margin-right: 30px;
}
.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
*/

#search{
    position: absolute;
    margin-left:450px;
    margin-top: 9px;
}

.footer{
    background-color: #9fc5e8;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 30px 10px 20px 0;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #8cb9e3;
}